    <nav class="navbar navbar-light bg-primary">
        <a class="navbar-brand" href="/">
        <img src="/public/images/elizeth-cardosos-101st-birthday-6753651837108991.2-s.png">
    </a>
    </nav>
    </html>>